
# Dart & Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Coverage
coverage/

# Isar test databases
*.isar
*.isar.lock
